.apps__download {
  padding: 80px 0;
  background-color: #4dcfda;

  .apps-wrap {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;

    .apps-wrap__item {
      text-decoration: none;
      display: flex;
      font-size: 0;
      border: 2px solid #fff;
      padding: 5px;
      margin-right: 45px;
      border-radius: 10px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      .system {
        font-size: 2.5rem;
        color: #fff;
        padding: 20px 25px;
        display: inline-block;
        border-radius: 10px 0 0 10px;
      }
      .dsc {
        display: inline-block;
        background-color: #fff;
        padding: 20px 25px;
        border-radius: 0 10px 10px 0;

        span {
          text-transform: uppercase;
          display: block;
          color: $color_text;
          font-size: 1.125rem;
        }
        span.dsc__google {
          color: #9ace4f;
          text-transform: capitalize;
          margin-top: 5px;
        }
        span.dsc__windows {
          color: #f87d2e;
          text-transform: capitalize;
          margin-top: 5px;
        }
        span.dsc__apple {
          color: #3eb5d3;
          text-transform: capitalize;
          margin-top: 5px;
        }
      }
    }
  }
}
