.introducing {
  padding: 75px 0;

  &__top {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 90px;

    h1 {
      color: $color_head;
      font-size: 2.1875rem;
      text-transform: uppercase;
    }
    p {
      color: $color_text;
      font-size: 1rem;
      line-height: 1.75em;
    }
  }

  &__text {
    width: 50%;

    h2 {
      color: $color_head;
      font-size: 2.1875rem;
      text-transform: uppercase;
    }
    p {
      color: $color_text;
      font-size: 1rem;
      line-height: 1.75em;
    }
  }
}
